.shopProductWrapper{
  max-height: 76vh;
  overflow: scroll;
}
.ShopBar{
  height: 100%;
  padding: 0 20px;
}
.shopBtn{
  position: absolute;
  width: 90%;
  bottom: 21px;
  left: 50%;
  margin-left: -45%;
}

