.shopProductWrapper{
  // max-height: 76vh;
  // overflow: scroll;
}
.ShopBar{
  padding: 50px 20px;
  height: 100%;
}
.cartBtn{
  // position: absolute;
  width: 90%;
  // bottom: 21px;
  // left: 50%;
  // margin-left: -45%;
}
.shopBarNotice{
  padding: 20px;

}
