.tabsMenu {
  width: 100%;
  display: flex;
}
.listItem {
  padding: 30px;
  width: 100%;
  .foodItem{
    &:last-child{
      margin-bottom: 100px;
    }
  }
}
.menuTabWrapper {
  > .at-tabs__header {
    padding-top: 80px;
    width: 80%;
    background: transparent;
    .at-tabs__item--active {
      color: #000;
      font-weight: 500;
      font-size: 44px;
    }
    .at-tabs__item {
      padding: 0;
    }
  }
}

