.tabsMenu {
  width: 100%;
  display: flex;
}
.listItem {
  padding: 30px;
  width: 100%;
}
.menuTabWrapper {
  > .at-tabs__header {
    padding-top: 40px;
    width: 80%;
    background: transparent;
    .at-tabs__item--active {
      color: #000;
      font-weight: 500;
      font-size: 44px;
    }
  }
}

